<div class= "top-hero-wrapper text-center">
    <div class="skills-container">
        <% SkillCategory.all.each do |category| %>
        <p class= "skillCategory">カテゴリ名：<%= category.name %></p>
         <div class= "skills-list-container">
            <%= form_with model: @skill, url: skills_user_path, method: :post do |f| %>
                <%= f.hidden_field :user_id, :value => params[:user_id] %>
                <!--三項演算子を使用。 :selectedには第一引数と連動したコードを渡す-->
                <!--三項演算子の例-->
                <!--num = 1-->
                <!--msg = num >0 ? "0より大きいです" : "0より小さいです"-->
                <!--puts msg-->
                スキル選択：<%= f.collection_select :skill_id, category.skills, :id, :name, :prompt => "選択して下さい", :selected => @user.skills.find_by(skill_category_id: category.id) ? @user.skills.find_by(skill_category_id: category.id).id : nil %>
                <div class="skill-list-container">
                    <%= f.submit "登録",  class: 'btn-block btn-black-skills' %>
                </div>
                <% end %>
            <% end %>
        <%= link_to '戻る', skills_admin_index_path(user_id: params[:user_id]), class: 'text-black' %>
    </div>
</div>