<div class="users-new-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 users-new-container">
                <h1 class="text-center text-black">change</h1>
                <%= form_for @user do |f| %>
                <div class= "form-group">
                    <%= f.label :number, class: 'text-black' %>
                    <%= f.text_field :number, class: 'form-control' %>
                </div>
                <div class= "form-group">
                    新しいパスワード<br>
                    <%= f.text_field :password, class: 'form-control' %>
                </div> 
                <div class= "form-group">
                    <%= f.label '役職' %>
                    <%= f.collection_select :role_id, Role.all, :id, :name, :prompt => "選択して下さい" %>
                </div>
                <div class= "form-group">
                    <%= f.label 'エリア' %>
                    <%= f.collection_select :area_id, Area.all, :id, :name, :prompt => "選択して下さい" %>
                </div>
                <div class= "form-group">
                <%= f.label '店舗名' %>
                <%= f.collection_select :store_id,Store.all, :id, :name, :prompt => "選択して下さい" %>
                </div> 
                <%= f.submit "更新", class: 'btn-block btn-black' %>
                <% end %>
            </div>
        </div>        
    </div>
</div>