<!--<div class= "area_info">-->
<!--    <%#= @area.name %>-->
<!--    <%#= @area.description %>-->
<!--</div>-->
<!--<div class= "store_contents">-->
<!--    <%#= render '@stores', { area: @area, store: @store, } %>-->
<!--</div>-->
<div class= "top-hero-wrapper text-center">
    <div class= "container top-hero-container">
        <div class= "profiles-detail">
            <table>
            <tr>
                <th>社員番号</th>
                <td><%= current_user.number %></td>
            </tr>
            <tr>
                <th>職制</th>
                <td><%= current_user.role.name %></td>
            </tr>
            <tr>
                <th>エリア</th>
                <td><%= current_user.area ? current_user.area.name : "#" %></td>
            </tr>
            <tr>
                <th>店舗</th>
                <td><%= current_user.store ? current_user.store.name : "#" %></td>
            </tr>
            <tr>
                <th>名前</th>
                <td><%= current_user.name %></td>
            </tr>
            <tr>
                <th>パスワード変更</th>
                <td><%= link_to '管理者へお問い合わせ', users_admin_index_path, class: 'text-black' %></td>
            </tr>
            </table>
        </div>
    </div>
</div>
