<div class= "top-hero-wrapper text-center">
    <div class= "container top-hero-container">
        <div class= "skills-admin-container">
                <% @user.skills.each do |skill| %>
                    <p class= "skill-category-name">カテゴリー:<%=skill.skill_category.name %></p>
                    <p>スキル：<%= skill.name %></p>
                    <p>スキルポイント：<%= skill.point %></p>
                <% end %>
        </div>
        <div class= "skill-admin-subcontainer">
            スキル登録はこちら: <span class= "text-skill"><%= link_to '登録', skills_user_new_path(user_id: params[:user_id]) %></span>
            /パスワード変更はこちら:<span class= "text-password"> <%= link_to '変更', users_edit_path(user_id: params[:user_id]) %></span>
        </div>
    </div>    
</div>