<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Storescoring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <nav class="navbar navbar-top navbar-transparent">
      <div class="topbar">
        <%= link_to users_show_path do %>
          <span><%= image_tag 'home.png', class: 'icon' %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to users_new_path do %>
                <button type="button" class="btn btn-success topbar-icon">New User</button>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path method: :delete do %>
                <%= image_tag 'Logout.png', class: 'topbar-icon' %>
              <% end %>
            </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="sidebar">
        <ul>
          <li><%= image_tag "Skill.png" %> <%= link_to 'Skills', skill_categories_index_path %></li>
          <li><%= image_tag "Store.png" %> <%= link_to 'Stores', stores_index_path %></li>
          <il><%= image_tag "Profile.png" %> <%= link_to 'Profiles', users_show_path %></il>
        </ul>
      </div>
    <% end %>  
      <div class="maincontent">
      </div>
     <% flash.each do |key, value| %>
      <div class= "alert alert-<%= key %>" role= "alert"><%= value %></div>
    <% end %>
      <%= yield %>

      <script>
        $(function(){
          $(".alert").fadeOut(5000);
        });
      </script>
    </main>
  </body>
</html>
